$height-sreen-mobile: 60px;
$height-sreen-medium-deskopt: 50px;
$animation-timing: 0.3s;
$motion-curve: cubic-bezier(0.72, 0.09, 0.3, 0.94);
$main-font-size: 24px;
$main-font: 'Muli', sans-serif;
$navigation-background: 'https://lean-tech.io/assets/images/lt-logo.png';

$main-color: rgb(252, 194, 88);

$secondary-color: azure;

$break-medium1: 639px;
$break-medium2: 1023px;
$break-large: 1024px;
