$height-sreen-mobile: 60px;
$height-sreen-medium-deskopt: 75px;
$animation-timing: 0.3s;
$motion-curve: cubic-bezier(0.72, 0.09, 0.3, 0.94);

$main-color: rgba(34, 119, 170, 1);
$secondary-color: azure;
$main-font: 'Muli', sans-serif;
$main-font-size: 24px;
$break-medium1: 639px;
$break-medium2: 1023px;
$break-large: 1024px;
