@import './../../shared/variables';
@import './../../shared/utils';

.content {
  overflow: hidden;
  position: absolute;
  display: block;
  top: 60px;
  left: 0;
  width: 100vw;
  @include respond-to(medium-screens) {
    top: 50px;
  }
  @include respond-to(wide-screens) {
    top: 141px;
    max-width: 1280px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__container-application-main {
    width: 100%;
    transform: translate(0);
    transition: transform $animation-timing $motion-curve;
    @include respond-to(wide-screens) {
      background-color: transparent;
    }
  }

  .menu-opened &__container-application-main {
    transform: translate(100vw);
    @include respond-to(wide-screens) {
      transform: translate(0);
    }
  }

  &.hide-content-page {
    display: none;
    @include respond-to(medium-screens) {
      display: none;
    }
    @include respond-to(wide-screens) {
      display: block;
    }
  }
}
